@model ExchangeOGram.ViewModels.Wall.Form

<h3>New post</h3>
<!-- [START form] -->
<form action="/Wall/AddPost/" method="post" id="addpost-form" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.WallPost.Caption)
        @Html.EditorFor(model => model.WallPost.Caption, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.WallPost.Caption, "", new { @class = "text-danger" })
        <input type="file" name="mediaFile" />
    </div>
    

    <button type="submit" class="btn btn-success">Post!</button>
</form>
<!-- [END form] -->